USE [master]
GO
/****** Object:  Database [HotelManagement]    Script Date: 7/11/2022 10:45:23 PM ******/
CREATE DATABASE [HotelManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](100) NOT NULL,
	[phone] [int] NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[displayname] [nvarchar](max) NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderid] [int] IDENTITY(1,1) NOT NULL,
	[datecheckin] [datetime] NOT NULL,
	[datecheckout] [datetime] NULL,
	[idRoom] [int] NOT NULL,
	[status] [int] NOT NULL,
	[totalprice] [float] NULL,
 CONSTRAINT [PK__Order__080E3775F26594BC] PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[detailid] [int] IDENTITY(1,1) NOT NULL,
	[roomid] [int] NOT NULL,
	[orderid] [int] NOT NULL,
	[serviceid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomid] [int] IDENTITY(1,1) NOT NULL,
	[roomname] [nvarchar](max) NULL,
	[categoryid] [int] NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[roomprice] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceid] [int] IDENTITY(1,1) NOT NULL,
	[servicename] [nvarchar](max) NOT NULL,
	[serviceprice] [float] NOT NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK__Service__45516CA726CE1960] PRIMARY KEY CLUSTERED 
(
	[serviceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [phone], [password], [displayname], [type]) VALUES (N'sa', 0, N'sa', N'sa', 1)
INSERT [dbo].[Account] ([username], [phone], [password], [displayname], [type]) VALUES (N'staff', 0, N'staff', N'staff', 1)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderid], [datecheckin], [datecheckout], [idRoom], [status], [totalprice]) VALUES (1, CAST(N'2001-10-10T00:00:00.000' AS DateTime), NULL, 1, 0, NULL)
INSERT [dbo].[Order] ([orderid], [datecheckin], [datecheckout], [idRoom], [status], [totalprice]) VALUES (2, CAST(N'2022-07-11T20:25:06.497' AS DateTime), NULL, 2, 1, NULL)
INSERT [dbo].[Order] ([orderid], [datecheckin], [datecheckout], [idRoom], [status], [totalprice]) VALUES (4, CAST(N'2021-07-11T20:25:06.497' AS DateTime), CAST(N'2021-07-16T20:25:06.497' AS DateTime), 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([detailid], [roomid], [orderid], [serviceid]) VALUES (1, 1, 1, 3)
INSERT [dbo].[OrderDetail] ([detailid], [roomid], [orderid], [serviceid]) VALUES (4, 3, 1, 2)
INSERT [dbo].[OrderDetail] ([detailid], [roomid], [orderid], [serviceid]) VALUES (13, 5, 2, 2)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([roomid], [roomname], [categoryid], [status], [roomprice]) VALUES (1, N'Phòng 101', 1, N'Trống', 3500000)
INSERT [dbo].[Room] ([roomid], [roomname], [categoryid], [status], [roomprice]) VALUES (3, N'Phòng 102', 2, N'Trống', 4500000)
INSERT [dbo].[Room] ([roomid], [roomname], [categoryid], [status], [roomprice]) VALUES (5, N'Phòng 103', 3, N'Có người', 5000000)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomCategory] ON 

INSERT [dbo].[RoomCategory] ([categoryid], [categoryname]) VALUES (1, N'Phòng tiêu chuẩn')
INSERT [dbo].[RoomCategory] ([categoryid], [categoryname]) VALUES (2, N'Phòng cao cấp')
INSERT [dbo].[RoomCategory] ([categoryid], [categoryname]) VALUES (3, N'Phòng giường đôi')
SET IDENTITY_INSERT [dbo].[RoomCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([serviceid], [servicename], [serviceprice], [date]) VALUES (1, N'Giặt ủi quần áo', 350000, NULL)
INSERT [dbo].[Service] ([serviceid], [servicename], [serviceprice], [date]) VALUES (2, N'Xe đưa đón sân bay', 700000, NULL)
INSERT [dbo].[Service] ([serviceid], [servicename], [serviceprice], [date]) VALUES (3, N'Thuê xe máy tự lái', 400000, NULL)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__datecheck__2C3393D0]  DEFAULT (getdate()) FOR [datecheckin]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__status__2D27B809]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT (N'Chua dat ten') FOR [roomname]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[RoomCategory] ADD  DEFAULT (N'Chua dat ten') FOR [categoryname]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF__Service__service__31EC6D26]  DEFAULT (N'Chua co ten') FOR [servicename]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF__Service__price__32E0915F]  DEFAULT ((0)) FOR [serviceprice]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__order__33D4B598] FOREIGN KEY([orderid])
REFERENCES [dbo].[Order] ([orderid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__order__33D4B598]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[Room] ([roomid])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__servi__35BCFE0A] FOREIGN KEY([serviceid])
REFERENCES [dbo].[Service] ([serviceid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__servi__35BCFE0A]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([categoryid])
REFERENCES [dbo].[RoomCategory] ([categoryid])
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountByUserName]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAccountByUserName]
@username nvarchar(100)
as
begin
	select * from Account where username = @username
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoomList]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetRoomList]
as	select * from Room
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 7/11/2022 10:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_Login]
@username nvarchar(100), @password nvarchar(100)
as
begin
	select * from Account where username = @username and password = @password
end
GO
USE [master]
GO
